.gsd-keyboard.settings-ported
beekeeper-studio/
Bitwarden/
BraveSoftware/
Code/
dconf/
Electron/
Element/
enchant/
evolution/
exercism/
gnome-control-center
gnome-initial-setup-done
gnome-session/
goa-1.0/
goa-3.0/
goa-4.0/
helix/
hypr/
ibus/
kitty/
menus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
obsidian/
procps/
pulse/
ulauncher/
user-dirs.dirs
user-dirs.locale
yelp/

